



 
        <h2>This is the results page from yelp</h2>
        <br>
        <div>{{data.id}}</div>
        <div>{{data.yelpID}}</div>
        <div>{{data.name}}</div>
        <div>{{data.image_url}}</div>
        <div>{{data.category}}</div>
        <div>{{data.rating}}</div>
        <div>{{data.price}}</div>
         <div>{{data.createdAt}}</div>
          <div>{{data.updatedAt}}</div>
       
        


{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
{{!-- <script src="/js/info_page.js"></script> --}}